body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}

h1, h2 {
    text-align: center;
    color: #444;
}

.lista {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.lista li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista li:last-child {
    border-bottom: none;
}

.lista button {
    background-color: #00ff15;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.lista button:hover {
    background-color: #00b398;
}

.notificaciones {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    background-color: #ffefba;
    border: 1px solid #a9ff6b;
    color: #444;
    width: 80%;
    border-radius: 5px;
    display: none;
}
