header{
    background: linear-gradient(18deg, rgba(0,36,4,1) 0%, rgba(13,121,9,1) 8%, rgba(155,255,0,1) 100%);
    text-align: center;
    border-radius: 5px;
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.tabla-productos thead {
    background-color: #4CAF50;
    color: white;
}

.tabla-productos th, .tabla-productos td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

.tabla-productos tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}