#noticias{
    width: 500px;
    padding: 10px;
    border: 1px solid rgb(165, 16, 16);

    /*Creacion de columnas para article*/
    
    column-count: 4;
    column-gap: 20px;
    column-rule-style: dotted;
    column-rule-color: brown;
    column-width: 10px;

    column-rule: 1px dotted brown;
}