body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(Image/empanadas.jfif);
}

.header {
    background-color: #FF6F00;
    color: white;
    padding: 20px;
    text-align: center;
}


.content {
    display: flex;
    padding: 5px;
    flex-direction: row;
    gap:10px;
    margin: auto;
    margin-right: 5%;
    margin-left: 20%;
}

.article {
    flex: 3;
    display: flex;
    flex-direction: row;
    background: #FFB74D;
    border-radius: 8px;
    padding: 10px;
    gap: 5px;
}

.fecha {
    background: #2a6ba5;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    width: 60px;
    height: 60px;
    position: relative;
    top: 4px;
    left: -40px;
}

.dia {
    font-size: 24px;
    font-weight: bold;
}

.diaSemana {
    font-size: 14px;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.article-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.article-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.article-body p {
    flex: 1;
}

.sidebar{
    background-color: #FF8F00;
    width: 250px;
    height: 400px;
    padding: 15px;
}

footer {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    margin-top: auto;
    bottom: 0;
}
